@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box
}

body {
    font: 16px "Open Sans", Helvetica, Arial, sans-serif
}

a {
    color: #3BB57A;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
}