{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GitFunded</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
                <ul>
                    <li><a href="{% url 'home' %}">&nbsp;&nbsp;GitFunded</a></li>
                </ul>
                <ul>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'index' %}">Campaigns</a></li>
                </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
  	<footer
       <p>All Rights Reserved, &copy; 2023 GitGud &nbsp;</p>
    </footer>
</body>
</html>