{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GitFunded</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">GitFunded</a></li>
        </ul>
        <ul class="nav-links">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'index' %}">All Campaigns</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'campaigns_create' %}">Create Campaign</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}        
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <p>
        Created by <a href="https://github.com/bardIRL">Meghan</a>,
        <a href="https://github.com/marsailifox">Miles</a>, &
        <a href="https://github.com/Alyjah-Luna">Alyjah</a> <br />All Rights
        Reserved, &copy; 2023 GitGud
      </p>
    </footer>
  </body>
</html>
