{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GitFunded</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="navbar">
          <a href="{% url 'home' %}">GitFunded</a>
          <a href="{% url 'about' %}">About</a>
          <div class="dropdown">
            <button class="dropbtn">Campaigns
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              {% if user.is_authenticated %}
              <a href="{% url 'index' %}">All Campaigns</a>
              <a href="{% url 'user_campaigns_index' user_id=request.user.id %}">Your Campaigns</a>
              <a href="{% url 'campaigns_create' %}">Create a Campaign</a>
              {% else %}
              <a href="{% url 'index' %}">All Campaigns</a>
              {% endif %}
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">User
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              {% if user.is_authenticated %}
              <a href="{% url 'logout' %}">Log Out</a> 
              {% else %}             
              <a href="{% url 'login' %}">Log In</a>
              <a href="{% url 'signup' %}">Sign Up</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <p>
        Created by <a href="https://github.com/bardIRL">Meghan</a>,
        <a href="https://github.com/marsailifox">Miles</a>, &
        <a href="https://github.com/Alyjah-Luna">Alyjah</a> <br />All Rights
        Reserved, &copy; 2023 GitGud
      </p>
    </footer>
  </body>
</html>
