{% extends 'base.html' %} {% block content %}

<h1>{{ campaign.title }}</h1>

<ul class="nav-links">
  <a href="{% url 'campaigns_update' campaign.id %}">Edit</a>
  <a href="{% url 'campaigns_delete' campaign.id %}">Delete</a>
  <a><label for="img-upload" id="select-photo">Select Photo</label></a>
  <form
    action="{% url 'add_photo' campaign.id %}"
    enctype="multipart/form-data"
    method="POST"
  >
    {% csrf_token %}
    <input type="file" name="photo-file" id="img-upload" class="hidden" />
    <button type="submit">Upload Photo</button>
  </form>
</ul>

<div class="details-container">
  {% for photo in campaign.photo_set.all %}
  <div class="row">
    <div>
      <div class="banner">
        <img src="{{ photo.url }}" />
      </div>
      {% empty %}
      <p>No Photos Uploaded</p>
      {% endfor %}
    </div>
    <div>
      <p>Category | <span class="category">{{ campaign.category }}</span></p>
      <p>${{ total_donations }} raised out of ${{ campaign.goal }} goal.</p>

      {{ goal_percentage }}%

      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: {{ goal_percentage }}%;"
          aria-valuenow="{{ goal_percentage }}"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>

      <p>{{ campaign.about | linebreaks}}</p>
      <p>
        <span class="category">{{ campaign.user }}</span> is organizing this
        fundraiser.
      </p>
      {% if campaign.link %}
      <p><a href="{{ campaign.link }}">Click here for more information.</a></p>
      {% else %}
      <p>No link has been added yet!</p>
      {% endif %}
    </div>
  </div>
</div>

<h1>Make a Donation</h1>

<form action="{% url 'add_donation' campaign.id %}" method="POST">
  {% csrf_token %} {{ donation_form.as_p }}
  <input type="submit" value="Donate" />
</form>

<table>
  {% for donation in campaign.donation_set.all %}
  <tr>
    <th>{{ donation.name }} - ${{ donation.amount }}</th>
    <td>{{ donation.message }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
