{% extends 'base.html' %} {% block content %}

<h1>All Campaigns</h1>
<form method="GET" action="">
  <div class="row filter">
    <div>
      <select name="category">
        <option value="">All Categories</option>
        {% for category in categories %}
        <option value="{{ category.0 }}">{{ category.1 }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <button type="submit">Filter</button>
    </div>
  </div>
</form>
<div class="index-container">
  {% for campaign in campaigns %}
  <a class="card-links" href="{% url 'detail' campaign.id %}">
    <div class="card">
      <div>
        {% for photo in campaign.photo_set.all %}
        <img id="card-img" src="{{ photo.url }}" />
        {% endfor %}
        <h2 id="card-title">{{ campaign.title }}</h2>
        <p class="category">{{ campaign.category }}</p>
      </div>
      <div>
        <p class="summary">{{ campaign.about | truncatechars:100}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}
